<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-8kua{background-color:#000000;border-color:#efefef;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
  font-size:18px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-8rri{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-hpxw{border-color:#efefef;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-li6d{border-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-ly6r{border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-wgf3{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;font-style:italic;text-align:center;
  vertical-align:top}
.tg .tg-kxes{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-8kua" colspan="3"><b>Education</b></th>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/unicam.png"></td>
    <td class="tg-wgf3">PhD in Computer Science - University of Cambridge</td>
    <td class="tg-wgf3">Current Position<br>2019-2022</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">My PhD focuses on building machine learning models for automatic text simplification, with a particular emphasis on the integration of eye tracking data to create humanistic models of text comprehension.</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/unicam.png"></td>
    <td class="tg-wgf3">MPhil Advanced Computer Science - University of Cambridge</td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Distinction (86%)</span><br><span style="font-weight:normal;text-decoration:none">2017-2018</span></td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Ranked in the top 5% of my class and won the Google research thesis award. I specialised in Natural Language Processing, Deep Learning and Machine Learning.</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/birmingham-logo.png"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;font-style:normal;text-decoration:none">BSc in Computer Science - University of Birmingham</span></td>
    <td class="tg-wgf3">First Class Honours (80%)<br>2013-2016</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Elective focus: Machine Learning, Natural Language Processing, Nature Inspired Optimisation, Compilers.</span></td>
  </tr>
</table>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-8kua{background-color:#000000;border-color:#efefef;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
  font-size:18px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-8rri{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-hpxw{border-color:#efefef;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-li6d{border-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-ly6r{border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-wgf3{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;font-style:italic;text-align:center;
  vertical-align:top}
.tg .tg-kxes{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-8kua" colspan="3">Professional Experience</th>
  </tr>
</thead>
<tbody>
   <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/googlelogo.png" width="400"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Research Intern - Google</span> </td>
    <td class="tg-wgf3">2021</td>
  </tr>
     <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/googlelogo.png" width="400"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Research Intern - Google</span> </td>
    <td class="tg-wgf3">2021</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">I led my own research project to investigate how implicit interaction signals, such as scrolling, correlate with text readability and comprehension. This included designing and running a 600 participant experiment.</span></td>
  </tr>
    <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/googlelogo.png" width="400"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Research Intern - Google</span> </td>
    <td class="tg-wgf3">2020</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">I led my own research project to investigate how implicit interaction signals, such as scrolling, correlate with text readability and comprehension. This included designing and running a 600 participant experiment.</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/camspark.png" width="400"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Data Science Lecturer - Cambridge Spark</span> </td>
    <td class="tg-wgf3">Present</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Cambridge Spark provides data science training for professionals, I co-teach and tutor for the 'Natural Language Processing with Python' module on the Advanced Data Science course.</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/unicam.png" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Research Assistant - University of Cambridge</span></td>
    <td class="tg-wgf3">2018</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">My research was focused on active learning techniques for machine learning algorithms, applied to the financial domain. I additionally published papers at multiple top tier venues on text simplification.</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/tesco.jpg" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Technology Graduate Scheme - Tesco Plc</span></td>
    <td class="tg-wgf3">2017</td>
  </tr>
  <tr>
       <td class="tg-ly6r" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">During the one year graduate scheme I specialised in data science leadership. I worked on a wide variety of machine learning projects, including a placement in Bangalore as a data science engineer.</span></td>
  </tr>
  <tr>
    <td class="tg-ly6r" rowspan="2"><br><img src="/images/lloyds.png" width="200"><br></td>
    <td class="tg-hpxw">Machine Learning Engineer - Lloyd's Bank</td>
    <td class="tg-li6d">2015</td>
  </tr>
  <tr>
    <td class="tg-ly6r" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">I spent four months as a machine learning engineer at Lloyd’s Bank. During this time, I designed and implemented a system to predict customer energy usage, using semi-supervised learning, which could generated personalised saving strategies for customers.
</span></td>
  </tr>

</tbody>
</table>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-8kua{background-color:#000000;border-color:#efefef;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
  font-size:18px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-8rri{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-hpxw{border-color:#efefef;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-li6d{border-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-ly6r{border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-wgf3{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;font-style:italic;text-align:center;
  vertical-align:top}
.tg .tg-kxes{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-8kua" colspan="3">Scholarships and Awards</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/incubator.png" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Cambridge Language Sciences Incubator Fund</span> </td>
    <td class="tg-wgf3">2020</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Awarded a <a href="https://www.languagesciences.cam.ac.uk/funding/language-sciences-research-incubator-fund">language sciences grant</a> for work on how eye movement relates to word complexity with Dr Ekaterina Kochmar and Dr Elaine Schmidt</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><br><img src="/images/unicam.png" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Harding Distinguished Postgraduate Scholarship</span> </td>
    <td class="tg-wgf3">2019</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Fully-funded Cambridge Scholarship for the most talented PhD students from the UK and worldwide</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><br><img src="/images/googlelogo.png" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Google Best Thesis Award</span></td>
    <td class="tg-wgf3">2018</td>
  </tr>
  <tr>
    <td class="tg-kxes" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Award for highest ranked Cambridge Advanced Computer Science MPhil thesis</span></td>
  </tr>
  <tr>
    <td class="tg-8rri" rowspan="2"><br><img src="/images/fitzlogo.png" width="200"></td>
    <td class="tg-wgf3"><span style="font-weight:normal;text-decoration:none">Fitzwillam Graduate Tutors’ Award</span></td>
    <td class="tg-wgf3">2018</td>
  </tr>
  <tr>
       <td class="tg-ly6r" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Graduate award from Fitzwillaim College for distinguished performance at MPhil</span></td>
  </tr>
  <tr>
    <td class="tg-ly6r" rowspan="2"><br><img src="/images/naacl.jpg" width="200"><br></td>
    <td class="tg-hpxw">ACL Shared Task Winner</td>
    <td class="tg-li6d">2018</td>
  </tr>
  <tr>
    <td class="tg-ly6r" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">Developed a winning complex word identification system in an international competition</span></td>
  </tr>
  <tr>
    <td class="tg-ly6r" rowspan="2"><br><img src="/images/unicam.png" width="200"><br></td>
    <td class="tg-hpxw"><span style="font-weight:normal;text-decoration:none">Cambridge Computer Laboratory MPhil Scholarship</span></td>
    <td class="tg-li6d">2017</td>
  </tr>
  <tr>
    <td class="tg-ly6r" colspan="2"><span style="font-weight:normal;font-style:normal;text-decoration:none">One of eight students to receive a 2017 scholarship for the MPhil course</span></td>
  </tr>
</tbody>
</table>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-8kua{background-color:#000000;border-color:#efefef;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
  font-size:18px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-8rri{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-hpxw{border-color:#efefef;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-li6d{border-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-ly6r{border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-wgf3{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;font-style:italic;text-align:center;
  vertical-align:top}
.tg .tg-kxes{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-v0aw"><b>Academic Roles</b></th>
  </tr>
</thead>
<tbody>
   <tr>
    <td class="tg-bx42"><b>Conference Microblogging</b></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; I have microblogged via twitter for <a href="https://twitter.com/SianGooding/status/1279016288833220611">ACL 2020</a> and <a href="https://twitter.com/SianGooding">EMNLP 2020</a></span></td>
  </tr>
  <tr>
    <td class="tg-bx42"><b>Conference Q&A Moderating</b></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226;  <a href="https://twitter.com/SianGooding/status/1324715513067544576">I moderated Q&A sessions at the 45th Boston University Conference on Language Development </a></span></td>
  </tr>
   <tr>
    <td class="tg-bx42"><b>Harding Scholar Representative 2020 - 2022 </b></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; As a Harding rep, I represent the views of fellow Harding scholars at the University of Cambridge scolarship boards  </span></td>
  </tr>
  <tr>
    <td class="tg-bx42"><b>Conference Reviewer</b></td>
  </tr>
  <tr>
        <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; Awarded an <a href="https://twitter.com/SianGooding/status/1281912395783380994">outstanding reviewer award</a> for ACL 2020 <br><br> &#8226; I have peer reviewed for top-ranked international conferences and workshops, including ACL, KDD, EMNLP, NAACL, CONLL and BEA</span></td>
  </tr>
  <tr>
    <td class="tg-bx42"><span style="font-style:normal;text-decoration:none"><b>Practical Demonstrator</b></span></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; Data Science: principles and practice, Part II CST course, Computer Laboratory, </span>2019 & 2020 <br><br> &#8226; Overview of Natural Language Processing, MPhil course, Computer Laboratory, 2018</td>
  </tr>
  <tr>
    <td class="tg-bx42"><b>Course Supervisor</b></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; Machine Learning and Real-world Data, Part IB CST course, Computer Laboratory, University of Cambridge 2020<br><br>&#8226; Formal Models of Language, Part IB CST course, Computer Laboratory, University of Cambridge 2020 </span></td>
  </tr>
  <tr>
    <td class="tg-bx42"><span style="font-style:normal;text-decoration:none"><b>Member of Cambridge Computer Lab Faculty board</b></span></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; The faculty board oversees the work of the Computer Laboratory, I acted as MPhil representative in 2018 </span></td>
  </tr>
  <tr>
    <td class="tg-bx42"><span style="font-style:normal;text-decoration:none"><b>Fitzwilliam Entrepreneur Society (FES) Committee 2018</b></span></td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:normal;font-style:normal;text-decoration:none">&#8226; FES organises entrepreneurial events and talks for five Cambridge Colleges</span></td>
  </tr>
</tbody>
</table>

