<style>
.talk {
  position: relative;
  display: inline-block;
  background-color: #DB4437;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}


.paper {
  position: relative;
  display: inline-block;
  background-color: #76D7C4;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

 .article {
  position: relative;
  display: inline-block;
  background-color: #9966cc;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .slides {
  position: relative;
  display: inline-block;
  background-color: #3cba54;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

.talk_link {
  position: relative;
  display: inline-block;
  background-color: #F4D03F;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}

summary {
  position: relative;
  float: left;
  background-color: #FF6347;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor:pointer;
}


details {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: purple;
    font-size: 10px;
}

</style>

<p>
    <a href="https://www.youtube.com/watch?v=JqQSXD74dIc" class="talk">Video</a> Creating computer tools to aid literacy - Cambridge Computer Laboratory Spotlight
</p>

<p>
    <a href="https://www.cst.cam.ac.uk/news/journey-cambridge-road-less-travelled" class="article">Article</a>  A journey to Cambridge on 'the road less travelled' - Cambridge Computer Laboratory Article
</p>

<p>
    <a href="https://www.youtube.com/watch?v=tDhja-I9Ym4&t=1s" class="talk">Video</a>  Cambridge Conversations: Interview with remarkable students whose research is potentially life-changing and even world-changing
</p>

<hr class="rounded">
