<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-73oq"><img src="/images/google_ai.png" width="200"></th>
    <th class="tg-73oq"><a href="https://ai.googleblog.com/2021/11/predicting-text-readability-from.html">Google AI blog</a> published on our work!</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th class="tg-73oq"><img src="/images/naacl_eye.png" width="200"></th>
    <th class="tg-73oq">Our paper <a href="https://aclanthology.org/2021.naacl-main.351/">'Word Complexity is in the Eye of the Beholder'</a> was published at NAACL!</th>
  </tr>
</tbody>
</table>