<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-8kua{background-color:#000000;border-color:#efefef;color:#ffffff;font-family:Arial, Helvetica, sans-serif !important;;
  font-size:18px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-8rri{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-hpxw{border-color:#efefef;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-li6d{border-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-ly6r{border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-wgf3{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;font-style:italic;text-align:center;
  vertical-align:top}
.tg .tg-kxes{border-color:#efefef;font-family:Arial, Helvetica, sans-serif !important;;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-wo29"><img src="/images/google_ai.png"></th>
    <th class="tg-wo29">Our paper on 'Predicting Text Readability from User Interaction was presented at CoNLL 2021. The paper is featured Google's AI Blog and was reported on by numerous news sites! </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-wo29"><img src="/images/naacl_eye.png"></td>
    <td class="tg-wo29">Our paper 'Word Complexity is in the Eye of the Beholder' was presented at NAACL 2021 - watch the presentation here.</td>
  </tr>
</tbody>
</table>