<style>
.poster {
  position: relative;
  display: inline-block;
  background-color: #F4D03F;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}

.paper {
  position: relative;
  display: inline-block;
  background-color: #76D7C4;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

 .code {
  position: relative;
  display: inline-block;
  background-color: #4885ed;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .dataset {
  position: relative;
  display: inline-block;
  background-color: #db3236;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .slides {
  position: relative;
  display: inline-block;
  background-color: #3cba54;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

summary {
  position: relative;
  float: left;
  background-color: #FF6347;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor:pointer;
}


details {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: purple;
    font-size: 10px;
}

</style>

<p>
    Kochmar, E., Gooding, S., and Shardlow, M.Detecting multiword expression type helps lexicalcomplexity assessment. InProceedings of The 12th Language Resources and Evaluation Conference(2020)
</p>

<a href="https://www.aclweb.org/anthology/2020.lrec-1.545.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1OA7e170PlsO4P2ZOxtEWzV-gaWb6NoWw/view?usp=sharing" class="poster">Dataset</a>

<p>
    Strohmaier, D., Gooding, S., Taslimipoor, S., and Kochmar, E.SeCoDa: Sense complexity dataset.InProceedings of The 12th Language Resources and Evaluation Conference(2020)
</p>

<a href="https://www.aclweb.org/anthology/2020.lrec-1.730.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1OA7e170PlsO4P2ZOxtEWzV-gaWb6NoWw/view?usp=sharing" class="dataset">Dataset</a>


<p>
    Gooding, S., Taslimipoor, S., and Kochmar, E.Incorporating multiword expressions in phrasecomplexity estimation.  InProceedings of the 1st Workshop on Tools and Resources to Empower People withREAding DIfficulties (READI)(2020), European Language Resources Association
</p>

<a href="https://www.aclweb.org/anthology/2020.readi-1.3.pdf" class="paper">Paper</a>

<p>
    Gooding, S., and Kochmar, E. Recursive Context-aware Lexical Simplification. In Proceedings of the 2019 Conference on Empirical Methods in Natural Language Processing and the 9th International Joint Conference on Natural Language Processing (EMNLP-IJCNLP) (2019)
</p>

<a href="https://www.aclweb.org/anthology/D19-1491.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1OA7e170PlsO4P2ZOxtEWzV-gaWb6NoWw/view?usp=sharing" class="poster">Poster</a>
<a href="https://github.com/siangooding/lexical_simplification" class="code">Code</a>


<p>
    Gooding, S., and Kochmar, E. Complex Word Identification as a Sequence Labelling task. In Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (2019) 
</p>

<a href="https://www.aclweb.org/anthology/P19-1109.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1xvWjbL3v13roiRJAivLWlS3LarR9i5ab/view?usp=sharing" class="poster">Poster</a>
<a href="https://github.com/siangooding/cwi/tree/master/CWI%20Sequence%20Labeller" class="code">Code</a>


<p>
    Gooding, S., Kochmar, E., Sarkar, A., and Blackwell, A. Comparative judgments are more consistent than binary classification for labelling word complexity. In Proceedings of the 13th Linguistic Annotation Workshop (2019)
</p>

<a href="https://www.aclweb.org/anthology/W19-4024.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1MqRDN0wiAJZW8h1ziAczjv7aV4ZdKI1H/view?usp=sharing" class="poster">Poster</a>

<p>
    Gooding, S., and Briscoe, T. Active learning for financial investment reports. In Proceedings of the Second Financial Narrative Processing Workshop (FNP 2019) (2019)
</p>

<a href="https://www.aclweb.org/anthology/W19-6404.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1u_ecircGK220Yk73ULDXGqgPeleZbi0k/view?usp=sharing" class="slides">Slides</a>

<p>
    Gooding, S. Complex Word Identification. MPhil Thesis, University of Cambridge (2018)<br>
    <i>This project won the <span style="color: red;">Google thesis award</span></i> 
</p>

<a href="https://drive.google.com/file/d/1i0ALup8VefdHx5R4ySpHTZUgv8lckCSA/view?usp=sharing" class="paper">Paper</a>


<p>
    Gooding, S., and Kochmar, E. CAMB at CWI shared task 2018: Complex Word Identification with Ensemble-Based Voting. In Proceedings of the Thirteenth <br>Workshop on Innovative Use of NLP for Building Educational Applications (2018)
    <i>This paper presents the <span style="color: red;">winning submission</span> to the <a href="https://sites.google.com/view/cwisharedtask2018">shared task on Complex Word Identification 2018</a>.</i>
</p>

<a href="https://www.aclweb.org/anthology/W18-0520.pdf" class="paper">Paper</a>
<a href="https://www.cl.cam.ac.uk/~ek358/bea2018-poster.pdf" class="poster">Poster</a>
<a href="https://github.com/siangooding/cwi/tree/master/System%20Output" class="code">Code</a>





