<style>
.poster {
  position: relative;
  display: inline-block;
  background-color: #F4D03F;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}

.paper {
  position: relative;
  display: inline-block;
  background-color: #76D7C4;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

 .code {
  position: relative;
  display: inline-block;
  background-color: #4885ed;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .dataset {
  position: relative;
  display: inline-block;
  background-color: #db3236;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .slides {
  position: relative;
  display: inline-block;
  background-color: #3cba54;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

summary {
  position: relative;
  float: left;
  background-color: #FF6347;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor:pointer;
}


details {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: purple;
    font-size: 10px;
}

</style>

<p>
    Recursive Context-aware Lexical Simplification. Gooding, S., and Kochmar, E. In Proceedings of the 2019 Conference on Empirical Methods in Natural Language Processing and the 9th International Joint Conference on Natural Language Processing (EMNLP-IJCNLP) (2019)
</p>

<a href="https://www.aclweb.org/anthology/D19-1491.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1OA7e170PlsO4P2ZOxtEWzV-gaWb6NoWw/view?usp=sharing" class="poster">Poster</a>
<a href="https://github.com/siangooding/lexical_simplification" class="code">Code</a>


<p>
    Complex Word Identification as a Sequence Labelling task. Gooding, S., and Kochmar, E. In Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (2019) 
</p>

<a href="https://www.aclweb.org/anthology/P19-1109.pdf" class="paper">Paper</a>
<a href="https://drive.google.com/file/d/1xvWjbL3v13roiRJAivLWlS3LarR9i5ab/view?usp=sharing" class="poster">Poster</a>
<a href="https://github.com/siangooding/cwi/tree/master/CWI%20Sequence%20Labeller" class="code">Code</a>


<p>
    CAMB at CWI shared task 2018: Complex Word Identification with Ensemble-Based Voting. Gooding, S., and Kochmar, E. In Proceedings of the Thirteenth Workshop on Innovative Use of NLP for Building Educational Applications (2018) <br>
    <i>This paper presents the <span style="color: red;">winning submission</span> to the <a href="https://sites.google.com/view/cwisharedtask2018">shared task on Complex Word Identification 2018</a></i>
</p>

<a href="https://www.aclweb.org/anthology/W18-0520.pdf" class="paper">Paper</a>
<a href="https://www.cl.cam.ac.uk/~ek358/bea2018-poster.pdf" class="poster">Poster</a>
<a href="https://github.com/siangooding/cwi/tree/master/System%20Output" class="code">Code</a>
<br>
<hr class="rounded">



