<style>
.poster {
  position: relative;
  display: inline-block;
  background-color: #F4D03F;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}

.paper {
  position: relative;
  display: inline-block;
  background-color: #76D7C4;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

 .code {
  position: relative;
  display: inline-block;
  background-color: #4885ed;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .dataset {
  position: relative;
  display: inline-block;
  background-color: #db3236;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .slides {
  position: relative;
  display: inline-block;
  background-color: #3cba54;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

summary {
  position: relative;
  float: left;
  background-color: #FF6347;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor:pointer;
}


details {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: purple;
    font-size: 10px;
}

</style>
<p>
    <span style="text-decoration: underline">Gooding, Sian</span>, Yevgeni Berzak, Tony Mak, and Matt Sharifi. "Predicting Text Readability from Scrolling Interactions." <i>In Proceedings of the 25rd Conference on Computational Natural Language Learning (CoNLL). 2021.</i>
</p>

<a href="https://arxiv.org/pdf/2105.06354.pdf" class="paper">Paper</a>
<a href="https://youtu.be/Y0Q7cF1f2tw" class="talk">Video</a>
<a href="https://github.com/siangooding/readability_scroll" class="dataset">Dataset</a>

<p>
  <span style="text-decoration: underline">Gooding, Sian</span>, Ekaterina Kochmar, Seid Muhie Yimam, and Chris Biemann. "Word Complexity is in the Eye of the Beholder." <i>In Proceedings of the 2021 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies. 2021.</i>
</p>

<br>
<hr class="rounded">



