<style>
.talk {
  position: relative;
  display: inline-block;
  background-color: #DB4437;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}


.paper {
  position: relative;
  display: inline-block;
  background-color: #76D7C4;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

 .code {
  position: relative;
  display: inline-block;
  background-color: #4885ed;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

  .slides {
  position: relative;
  display: inline-block;
  background-color: #3cba54;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
 }

.talk_link {
  position: relative;
  display: inline-block;
  background-color: #F4D03F;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 12px;
}

summary {
  position: relative;
  float: left;
  background-color: #FF6347;
  border-radius: 7px;
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 10px;
  cursor:pointer;
}


details {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: purple;
    font-size: 10px;
}

</style>

<p>
    Predicting Text Readability and Reading Comprehension from Reading Interactions<br><i>Cambridge NLIP Seminar Series 2020</i>
</p>

<a href="https://docs.google.com/presentation/d/1cgmrFE63JZh6WEvPXy5hh37iiogzojs0-JTRLM-i8eQ/edit?usp=sharing" class="slides">Slides</a><a href="https://talks.cam.ac.uk/talk/index/152383" class="talk_link">Details</a>

<p>
    Successful Women in Tech <br><i>Women in Technology Society, University of Birmingham 2020</i>
</p>

<a href="https://docs.google.com/presentation/d/1cmG_A7ULvTBVRzDUFc_2xKycuLfZkZGzyyANsB7wMKc/edit?usp=sharing" class="slides">Slides</a>

<p>
    Predicting readability from scroll behaviour <br><i>Cambridge Computer Laboratory TechTalk 2020</i>
</p>

<a href="https://docs.google.com/presentation/d/1cgmrFE63JZh6WEvPXy5hh37iiogzojs0-JTRLM-i8eQ/edit?usp=sharing" class="slides">Slides</a><a href="https://talks.cam.ac.uk/talk/index/154159" class="talk_link">Details</a>

<p>
    Complex or not? Group dependent complex word identification <br><i>Cambridge Assessment 2020</i>
</p>

<a href="https://docs.google.com/presentation/d/1_20kE1-OBImzjraFcBker000BpYBAwW-uznW8__zlRI/edit?usp=sharing" class="slides">Slides</a>

<p>
    Text Simplification - to simplify, or not to
simplify, that is the question<br><i>Jesus College Language and Lingustics Forum 2020</i>
</p>

<a href="https://drive.google.com/file/d/1XBZW3HuJSagEFI_GNV8pFEIMfnwts3hg/view?usp=sharing" class="slides">Slides</a>

<p>
    Contextual Text Simplification<br><i>Cambridge Assessment 2019</i>
</p>

<a href="https://drive.google.com/file/d/1xt0C0diASUs-HY-bZJ16zOQ5uF7y0Fym/view?usp=sharing" class="slides">Slides</a>
<a href="https://youtu.be/Uj461_UAK3w" class="talk">Video</a>

<p>
    Automatic Text Simplification<br><i>Cambridge Computer Laboratory TechTalk 2019</i>
</p>

<a href="https://drive.google.com/file/d/1h2-4NvxIS7xdMztGobz59q7X1Y0CRLcY/view?usp=sharing" class="slides">Slides</a>

<p>
    Active Learning: Data Quality over Quantity<br><i>Cambridge Data Science Symposium 2018</i>
</p>

<a href="https://drive.google.com/file/d/1VHe7mBCjaFXQMcjPySj0VO1gq4rf-46K/view?usp=sharing" class="slides">Slides</a>

<p>
    Active Learning Techniques<br><i>University of Cambridge 2018</i>
</p>

<a href="https://drive.google.com/file/d/1AV9XPrD9ohB3IAAHQO5v3IxoLL2KGhYQ/view?usp=sharing" class="slides">Slides</a>

<p>
    Complex Word Identification<br><i>Oxbridge Women in Computer Science 2018</i>
</p>

<a href="https://drive.google.com/file/d/18HJcm9_gH9JOOKT00TBTli1XZWd-gjyK/view?usp=sharing" class="slides">Slides</a>







